/* global css */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: #404040;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Source Sans Pro", sans-serif;
}

.navbar {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Volkhov", serif;
}

.title-style {
  color: #060606;
  font-family: "Volkhov", serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
}

h5.small-title {
  margin-bottom: 0;

  color: #fb811e;
  font-family: "Volkhov", serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
}

.title-style-main {
  z-index: 1;
}

h4.title-bg-content {
  position: absolute;
  right: 50%;
  bottom: 50%;
  z-index: 0;

  transform: translate(50%, 50%);

  color: #fff;
  opacity: 0.14;
  font-family: "Volkhov", serif;
  font-size: 12vw;
  font-weight: bold;
}

p {
  margin-bottom: 0;
  outline: none;
  overflow: visible;
  color: #707070;
  font-size: 17px;
  line-height: 27px;
}

input {
  margin: 0;
  outline: none;
  overflow: visible;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.radius-image {
  border-radius: 30px;
}

.btn-style {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 600;
  background: #fb811e;
  border: none;
  color: #fff;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}

.btn-style:hover {
  background: #009f4d;
  color: #ffffff;
}

li {
  list-style: none;
}

a {
  color: #707070;
  background-color: transparent;
  cursor: pointer;
  transition: 0.5s all;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.container a {
  text-decoration: none;
}

/* HEADER */
header.ourHeader {
  height: 90px;
  padding: 0;

  background-color: transparent;
  display: grid;
  align-items: center;
  transition: all 0.4s ease 0s;
}

header.nav-fixed {
  height: 70px;
  padding: 0;
  border-bottom: none;
  z-index: 99;
  background-color: #fff;
  color: black;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}

header.nav-fixed nav.navbar.navbar-expand-lg.myNav {
  box-shadow: none;
  border-radius: 0px;
  padding: 0;
}

/* logo */
.myNav h1 {
  margin-bottom: 0;
}

.navbar .navbar-brand {
  color: #fb811e;
  font-family: "Volkhov", serif;
  font-size: 32px;
  padding: 0px;
  position: relative;
}

a.navbar-brand:hover {
  color: #060606;
  opacity: 1;
}

.navbar .navbar-brand i {
  position: absolute;
  top: -5px;
  left: 54px;
  font-size: 17px;
}

.nav-fixed .navbar-brand {
  color: #060606;
}

/* search */
.navbar .searchDiv {
  margin: 0 10px 0 10px;
}

.navbar form.search-box {
  display: flex;
  align-items: center;
}

.searchDiv input[type="search"] {
  background: #fff url(../img/search.png) no-repeat 10px center;
  border: solid 1px #eee;
  padding: 0 10px;
  width: 35px;
  height: 35px;
  border-radius: 160px;
  color: #666;
  transition: all 0.5s;
  cursor: pointer;
}

#searchBox input[type="search"]:hover {
  background-color: #fff;
}

#searchBox input[type="search"]:focus {
  width: 200px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
  padding-right: 15px;
}

/* theme toggle switch */
#toggleSwitch {
  width: 24px;
  height: 24px;
  padding: 0;
  margin-left: 6px;
  margin-right: 0;
  color: #fff;
}

#toggleSwitch i {
  font-size: 20px;
}

.gg-sun {
  position: relative;
  height: 24px;
  background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat
      5px -6px/2px 6px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px
      6px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px
      2px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px
      2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent;
}

.fa-moon {
  position: relative;
  width: 24px;
  height: 24px;
  display: block;
  box-sizing: border-box;
}

.nav-fixed .fa-moon {
  color: #060606;
}

.gg-sun {
  box-sizing: border-box;
  display: block;
  width: 24px;
}

.gg-sun:after,
.gg-sun:before {
  box-sizing: border-box;
  display: block;
  width: 24px;
}

.gg-sun:after,
.gg-sun:before {
  content: "";
  position: absolute;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px;
}

.gg-sun:before {
  transform: rotate(-45deg);
}

.gg-sun:after {
  transform: rotate(45deg);
}

/* navigation bar toggler */
.navbar-toggler {
  padding: 0 0;
}

nav ul li {
  display: block;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}

nav ul li a:hover {
  color: #fb811e;
  text-decoration: none;
}

.nav-fixed ul#menu {
  color: #fdfffc;
}

.nav-fixed ul#menu label span {
  color: #060606;
}

/* menu */
ul#menu {
  margin: 0;
  padding: 0;
  color: #fff;
  z-index: 99;
  font-size: 28px;
}

ul#menu > li {
  float: left;
  list-style-type: none;
  position: relative;
  width: 100%;
}

ul#menu label {
  position: relative;
  display: block;
  transition: background 0.3s;
  cursor: pointer;
  text-align: center;
  margin: 0;
}

ul#menu label span {
  line-height: 1em;
}

ul#menu input {
  display: none;
}

/* the second level menu | ease-in */
ul#menu input:checked ~ ul.submenu {
  max-height: 400px;
  transition: max-height 0.5s ease-in;
}

/* the second level menu */
ul.submenu {
  border-radius: 4px;
  box-shadow: 0 20px 62px rgba(4, 20, 69, 0.1);
  padding: 0;
  min-width: 224px;
  max-height: 0;
  overflow: hidden;
  list-style-type: none;
  background: white;
  position: absolute;
  right: 0;
  transition: max-height 0.5s ease-out;
}

ul.submenu li a {
  display: block;
  padding: 7px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: black;
}

/* myBANNER */
.myBanner__left {
  position: absolute;
  left: 160px;
  z-index: 1;
}

.myBanner__left h2 {
  color: #f4f4f4;
  font-size: 120px;
  font-weight: bold;
  margin-left: -0.5em;
}

.myBanner__left-welcome {
  transform: translateY(-18%);
}

.myBanner h3 {
  color: #060606;
  font-size: 50px;
  line-height: 60px;
  font-weight: bold;
}

p.myBanner__left-welcomeP {
  font-size: 20px;
}

/* banner slider */
.radio {
  display: none;
}

.images {
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-bottom-left-radius: 20px;
}

.images-inner {
  width: 500%;
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

.image-slide {
  width: 20%;
  float: left;
}

.image-slide,
.fake-radio,
.radio-btn {
  transition: all 0.5s ease-out;
}

.fake-radio {
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0 auto;
}

/* slides | overflowed container */
#slide1:checked ~ .images .images-inner {
  margin-left: 0;
}

#slide2:checked ~ .images .images-inner {
  margin-left: -100%;
}

#slide3:checked ~ .images .images-inner {
  margin-left: -200%;
}

/* slides | text */
#slide1:checked ~ .labels .label:nth-child(1),
#slide2:checked ~ .labels .label:nth-child(2),
#slide3:checked ~ .labels .label:nth-child(3) {
  opacity: 1;
}

.label {
  opacity: 0;
  position: absolute;
}

#slide1:checked ~ div .fake-radio .radio-btn:nth-child(1),
#slide2:checked ~ div .fake-radio .radio-btn:nth-child(2),
#slide3:checked ~ div .fake-radio .radio-btn:nth-child(3) {
  background: #fb811e;
}

.radio-btn {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  display: inline-block;
  margin: 0px 4px;
  cursor: pointer;
}

/* bullets | autoplay */
#play1:checked ~ div .fake-radio .radio-btn:nth-child(1) {
  animation: bullet 12300ms infinite -1000ms;
}

#play1:checked ~ div .fake-radio .radio-btn:nth-child(2) {
  animation: bullet 12300ms infinite 3100ms;
}

#play1:checked ~ div .fake-radio .radio-btn:nth-child(3) {
  animation: bullet 12300ms infinite 7200ms;
}

/* slides | autoplay */
.myBanner__right-slider > #play1:checked ~ .images .images-inner {
  animation: slide 12300ms infinite;
}

.myBanner__right-slider {
  position: relative;
}

/* background images for banner */
.myBanner-img-1 {
  background-image: url(../img/b1.jpg);
}

.myBanner-img-2 {
  background-image: url(../img/b8.jpg);
}

.myBanner-img-3 {
  background-image: url(../img/b4.jpg);
}

.myBanner-img-1,
.myBanner-img-2,
.myBanner-img-3 {
  background-size: cover;
  background-position: top center;
  min-height: 100vh;
  padding: 40px 0;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: center;
  border-bottom-left-radius: 0px;
  z-index: 0;
}

.myBanner-img-1:before,
.myBanner-img-2:before,
.myBanner-img-3:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 17%);
  z-index: -1;
  top: 0;
}

.slider-num h4 span {
  font-family: "Source Sans Pro", sans-serif;
}

/* ABOUT US */
.aboutUs .aboutUs__right-4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.aboutUs .box-wrap {
  padding: 34px 30px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
  background-color: #fff;
}

.aboutUs .box-wrap:hover {
  transition: 0.3s;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}

.aboutUs .box-wrap img {
  max-width: 65px;
  display: block;
  margin: 0 auto;
}

.aboutUs .box-wrap h4 a {
  display: block;
  margin-top: 25px;

  text-decoration: none;

  color: #060606;
  font-family: "Volkhov", serif;
  font-size: 20px;
  font-weight: 600;

  line-height: 28px;
  text-align: center;
}

.aboutUs .box-wrap h4 a:hover {
  color: #009f4d;
}

/* CAPABILITIES */
.capabilities {
  background: #009f4d;
}

.capabilities .title-style.text-white {
  margin-bottom: 0;
}

.capabilities .title-bg-content {
  margin-bottom: 0;
}

.capabilities .card {
  outline: none;
  border: none;
  border-radius: 20px 20px 20px 20px;
}

.capabilities .card-body {
  outline: none;
  border: none;
}

.capabilities .card img {
  border-radius: 20px 20px 0 0;
}

.capabilities-details {
  background: #fff;
  padding: 30px 20px;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
  border: 1px solid #eee;
  border-top: none;
}

.capabilities span.label-style {
  color: #009f4d;
  display: inline-block;
  background: rgb(0 159 77 / 16%);
  padding: 5px 20px;
  border-radius: 15px;
  font-weight: 600;
}

a.capabilities-heading {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #060606;
  margin: 15px 0;
}

a.capabilities-heading:hover {
  text-decoration: none;
  color: #009f4d;
}

/* SERVICE INTRO 1 */
.serviceIntro1__info h4 {
  color: #060606;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.serviceIntro1__info span.fa-users {
  font-size: 26px;
  color: #fb811e;
}

.serviceIntro1__info span.fa-life-ring {
  font-size: 30px;
  color: #fb811e;
}

.imginfo__box {
  position: absolute;
  left: -85px;
  bottom: 38px;

  box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
  border-radius: 0 0 100px 0;
  padding: 40px;
  min-width: 300px;

  background-color: #fb811e;
  color: #fff;
  text-align: center;
}

.imginfo__box .imginfo__title {
  color: #fff;
  font-family: "Volkhov", serif;
  font-size: 70px;
  font-weight: 600;
  line-height: 80px;
  margin-bottom: 0;
}

.imginfo__box p {
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.2px;
}

/* SERVICE INTRO 2 */
.service-col {
  margin-top: 35px;
}

.service-item {
  padding: 32px 16px 30px;
  border: 1px solid transparent;
  transition: 0.5s;
}

.service-item img {
  border-style: none;
}

.description h4 {
  color: black;
  font-size: 22px;
  font-weight: 600;
  line-height: 25px;
  transition: 0.3s;
}

.description p,
.gallery__text p {
  color: #707070;
  margin-top: 11px;
  font-size: 17px;
  line-height: 27px;
}

.service-item:hover {
  border: 1px solid #eee;
  border-radius: 10px;
}

/* GALLERY */
.gallery {
  margin-bottom: 24px;
  display: grid;
  gap: 8px;
}

.gallery-grid {
  padding: 0;
}

.gallery__text h5 {
  color: #fb811e;
  font-size: 22px;
  padding-top: 5px;
}

.gallery__text h3 {
  color: #060606;
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
}

.gallery__text button {
  color: white;
  background-color: #fb811e;
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  margin-top: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.gallery__text button:hover {
  background-color: #009f4d;
}

.gallery__item {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.gallery__item h5 {
  color: white;
  background: rgb(255 255 255 / 27%);
  margin: 0 20px;
  padding: 6px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

.gallery__item img {
  width: 100%;
}

.gallery__item::before {
  content: "";
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: -75%;
  display: block;
  transform: skewX(-17deg);
}

.gallery__item:hover::before {
  left: 125%;
  transition: 0.95s;
}

/* CUSTOMER CAROUSEL */
.customer__carousel {
  background-image: url(../img/bg1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 514px;
  position: relative;
}

.customer__carousel::before {
  content: "";
  background: rgb(10 10 10 / 52%);
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.carousel__item {
  padding: 25px 0;
  color: white;
  text-align: center;
}

.item__container {
  max-width: 900px;
  margin: 0 auto;
}

.item__left a img {
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0 auto;
}

.item__title h5 {
  font-size: 20px;
  font-weight: 600;
  margin: 16px 0 9px;
}

.item__right i {
  color: #fb811e;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 2px;
  display: inline-block;
}

.item__right blockquote q {
  display: block;
  font-size: 22px;
  line-height: 34px;
  text-indent: 30px;
}

/* customer carousel - owl carousel cumstom */
.owl-carousel .owl-item img {
  width: 90px;
  height: 90px;
}

.owl-carousel button.owl-dot {
  outline: 0;
}

.owl-theme .owl-nav.disable .owl-dots {
  margin-top: 30px;
  bottom: -90;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 35px;
}

button.owl-dot span {
  opacity: 0.3;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #fb811e;
  opacity: 1;
}

/* FOOTER */
footer {
  padding-top: 25px;
}

.footer__content h4 {
  color: #060606;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
}

.footer__logo a {
  color: #fb811e;
  position: relative;
  transition: 0.3s;
}

.footer__logo i {
  position: absolute;
  font-size: 17px;
  top: -3px;
  left: 54px;
}

.footer__copyrights span a {
  color: #009f4d;
  transition: 0.3s;
}

.footer__copyrights span a:hover {
  color: #fb811e;
}

.footer__item {
  margin-top: 28px;
}

.footer__item p,
.footer__contact a {
  color: #707070;
  font-size: 17px;
  line-height: 27px;
  margin-bottom: 14px;
  transition: 0.3s;
}

.footer__input form {
  display: flex;
  border-radius: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.footer__input input {
  background-color: #f4f4f4;
  color: #707070;
  width: 80%;
  font-size: 16px;
  padding: 12px 20px;
  border-radius: 30px 0 0 30px;
  flex: 1 1 auto;
  border: 1px solid #eee;
  outline: none;
}

.footer__input button {
  color: #fff;
  background-color: #009f4d;
  background-size: 200%;
  width: 20%;
  padding: 12px 12px;
  text-align: center;
  border-radius: 0 30px 30px 0;
  border-color: transparent;
  cursor: pointer;
  transition: 0.5s;
}

.footer__input button:hover {
  opacity: 0.8;
}

.footer__icon {
  padding: 0;
}

.footer__icon li {
  display: inline;
  padding: 0;
}

.footer__icon li a {
  color: #009f4d;
  background: rgb(10 191 83 / 8%);
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  margin-right: 5px;
  transition: 0.3s;
}

.footer__icon li a:hover {
  background-color: rgb(255 201 69 / 19%);
  color: #fb811e;
  box-shadow: 0px 4px 7px 0px rgb(10 10 10 / 24%);
}

/* BACK TO TOP */
.backToTop {
  background-color: #009f4d;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  text-align: center;
  font-size: 13px;
  font-weight: bolder;
  display: block;
  position: fixed;
  bottom: 90px;
  right: 15px;
  visibility: hidden;
  opacity: 0;
  transition: 0.01s;
}

.backToTop i {
  color: white;
}

.backToTop:hover {
  opacity: 0.8;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

/* RESPONSIVE */
@media screen and (max-width: 1440px) {
  .title-style-2 {
    font-size: 30px;
    line-height: 40px;
  }

  .myBanner h3 {
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
  }

  .myBanner__left h2 {
    font-size: 100px;
    margin-bottom: 4px;
  }
}

@media screen and (max-width: 1377px) {
  .myBanner__left h2 {
    margin-bottom: 14px;
  }
}

@media screen and (max-width: 1200px) {
  .myBanner__left h2 {
    margin-bottom: 18px;
  }

  .serviceIntro1__info h4 {
    font-size: 20px;
  }

  .service-item {
    padding: 22px 11px 20px;
  }

  .description h4 {
    font-size: 19px;
  }

  .gallery__text h5 {
    font-size: 20px;
  }

  .gallery__text h3 {
    font-size: 34px;
    line-height: 45px;
  }
}

@media screen and (max-width: 1190px) {
  .myBanner__left {
    padding-left: 6px;
  }

  .footer__content h4 {
    font-size: 16px;
  }

  .footer__item {
    margin-top: 26px;
  }

  .footer__email {
    margin: 30px 0;
  }

  .footer__input form {
    margin-top: 16px;
  }

  .footer__input button {
    width: 30%;
  }

  .footer__logo {
    margin-bottom: 27px;
  }
}

@media screen and (max-width: 1150px) {
  .myBanner__left {
    left: 90px;
  }

  p.myBanner__left-welcomeP {
    font-size: 17px;
  }

  .myBanner h3 {
    font-size: 35px;
    line-height: 45px;
  }

  .myBanner__left h2 {
    font-size: 90px;
  }
}

@media screen and (max-width: 991px) {
  .myBanner__left h2 {
    padding-left: 7px;
  }

  .title-style {
    font-size: 35px;
    line-height: 45px;
  }

  h5.small-title {
    font-size: 20px;
  }

  header.ourHeader {
    height: auto;
    padding: 17px 0;
  }

  header.nav-fixed {
    height: auto;
    padding: 14px 0;
  }

  .myBanner__left {
    left: 32px;
  }

  .myBanner h3 {
    font-size: 32px;
    line-height: 42px;
  }

  .myBanner__left h2 {
    font-size: 80px;
  }

  .description h4 {
    font-size: 20px;
  }

  .gallery__text h5 {
    font-size: 18px;
  }

  .gallery__text h3 {
    color: black;
    font-size: 32px;
    line-height: 42px;
  }

  .customer__carousel {
    height: 452px;
  }

  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 20px;
  }

  .footer__item {
    margin-top: 11px;
  }
}

@media screen and (max-width: 801px) {
  .aboutUs .aboutUs__right-1 {
    padding: 1.5em;
  }

  .footer__content h4 {
    margin-bottom: 18px;
  }
}

@media screen and (max-width: 767.98px) {
  .myBanner__left {
      left: 0;
      padding: 30px;
    }

  .navbar .navbar-brand {
    color: #fff;
  }

  .nav-fixed .navbar .navbar-brand,
  .nav-fixed .navbar .navbar-brand i {
    color: #fb811e;
  }

  .dark .nav-fixed .navbar .navbar-brand,
  .dark .nav-fixed .navbar .navbar-brand i {
    color: #fb811e;
  }

  .title-style {
    font-size: 32px;
    line-height: 42px;
  }

  h5.small-title {
    font-size: 18px;
  }
}

@media screen and (max-width: 765px) {
  .myBanner__left h2 {
    padding-left: 0;
    margin-bottom: 10px;
  }
  .myBanner__left-content {
    background: #fff;
    padding: 15px 25px 0px 64px;
    border-radius: 8px;
  }

  .dark .myBanner__left-content {
    background: #222222;
  }

  .customer__carousel {
    height: 556px;
  }

  .item__right {
    max-width: 529px;
    margin: 0 auto;
  }

  .item__right blockquote q {
    font-size: 17px;
    line-height: 30px;
  }
}

@media screen and (max-width: 738px) {
  .imginfo__box {
    left: -50px;
  }
}

@media screen and (max-width: 667px) {
  .aboutUs p.text-para {
    margin: 14px 0 26px;
  }

  .aboutUs h4 a.title-head {
    font-size: 18px;
  }
}

@media screen and (max-width: 568px) {
  .title-style {
    font-size: 30px;
    line-height: 40px;
  }

  .myBanner h3 {
    font-size: 27px;
    line-height: 38px;
  }

  .myBanner__left h2 {
    font-size: 70px;
  }

  p.myBanner__left-welcomeP {
    font-size: 16px;
  }

  .aboutUs p.text-para {
    margin: 0px;
    margin-bottom: 10px;
  }

  .aboutUs h4 a.title-head {
    margin-bottom: 7px;
  }
}

@media screen and (max-width: 480px) {
  .navbar .navbar-brand,
  .navbar .navbar-brand:hover {
    font-size: 28px;
    color: #fdfffc;
  }

  .dark .nav-fixed .navbar-brand,
  .dark .nav-fixed .navbar-brand i {
    color: #fb811e;
  }

  header.nav-fixed nav.navbar.navbar-expand-lg.myNav {
    padding: 0;
  }

  .myBanner__left-content {
    height: 85vh;
    padding: 40px 32px 32px 40px;
  }

  .myBanner__left h2 {
    font-size: 60px;
  }

  .myBanner__left-welcome {
    transform: translateY(-11%);
  }

  .myBanner h3 {
    font-size: 25px;
    line-height: 35px;
  }

  .myBanner__left {
    padding: 16px;
  }
}

@media screen and (max-width: 440px) {
  .aboutUs p.text-para {
    font-size: 15px;
  }

  .aboutUs .aboutUs__right-4 {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}

@media screen and (max-width: 384px) {
  .aboutUs h4 a.title-head {
    font-size: 20px;
  }
}

@media screen and (max-width: 320px) {
  .aboutUs .aboutUs__right-4 {
    display: block;
  }
}

/* SWITCH THEME css */
/* dark */
.dark#myBody {
  background-color: #222222;
}

.dark header.nav-fixed {
  background-color: #222222;
}

.dark .nav-fixed .navbar-brand,
.dark .nav-fixed .navbar-brand i {
  color: #fdfffc;
}

.dark #toggleSwitch .gg-sun {
  display: block;
  color: white;
}

.dark #toggleSwitch .fa-moon {
  display: none;
}

.dark .nav-fixed ul#menu label span {
  color: #fdfffc;
}

.dark ul.submenu {
  background: #222222;
}

.dark ul.submenu li a {
  color: #fdfffc;
}

.dark ul.submenu li a:hover {
  color: #fb811e;
}

.dark .card-body {
  background-color: #222222;
}

.dark .card-body a,
.dark h2,
.dark h3,
.dark h4 {
  color: #fdfffc;
}

.dark .myBanner__left h2 {
  color: #0b0d0e;
}

.dark .aboutUs .box-wrap {
  box-shadow: 0 25px 98px 0 rgba(23, 19, 19, 1);
  background-color: #222222;
  transition: 0.3s;
}

.dark .aboutUs .box-wrap a {
  color: #fdfffc;
}

.dark .aboutUs .box-wrap:hover {
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}

.dark p {
  color: #b7b7b7;
}

.dark .imginfo__box p {
  color: #fff;
}

.dark a.capabilities-heading:hover {
  color: #009f4d;
}

.dark .footer__content h4 {
  color: white;
}

.dark .footer__logo a:hover {
  color: white;
}

.dark .footer__input input {
  border-color: #404040;
  background-color: #060606;
}

.dark .footer__item p,
.dark .footer__contact a {
  color: #b7b7b7;
}

.dark .description h4 {
  color: white;
}

.dark .service-item:hover {
  border-color: #404040;
}

.dark .gallery__text h3 {
  color: white;
}

.dark .gallery__text p,
.dark .description p {
  color: #b7b7b7;
}

/* light theme - emphasized element */
#myBody {
  background-color: white;
}

#toggleSwitch {
  outline: 0;
}

#toggleSwitch .gg-sun {
  display: none;
}

#toggleSwitch .fa-moon {
  display: block;
}

.slider-num h4,
.slider-num p {
  color: #fff;
  line-height: 18px;
  margin-right: 13px;
}

ul.submenu li.current_page_item a {
  color: #fb811e;
}

.service-item:hover h4 {
  color: #009f4d;
}

.item__title p {
  color: white;
}

.footer__contact a:hover {
  color: #fb811e;
}

#toggleSwitch:hover {
  color: #fb811e;
}

/* ANIMATION */
@keyframes bullet {
  0%,
  33.32333333333334% {
    background: #fb811e;
  }

  33.333333333333336%,
  100% {
    background: white;
  }
}

@keyframes slide {
  0%,
  25.203252032520325% {
    margin-left: 0;
  }

  33.333333333333336%,
  58.53658536585366% {
    margin-left: -100%;
  }

  66.66666666666667%,
  91.869918699187% {
    margin-left: -200%;
  }
}